amqp==2.3.2
beautifulsoup4==4.6.3
billiard==3.5.0.4
celery==4.2.1
git+https://github.com/akornor/celery-progress
certifi==2018.11.29
chardet==3.0.4
Django==2.2.3
idna==2.7
kombu==4.2.1
pytz==2018.7
redis==2.10.6
requests==2.20.1
git+https://github.com/akornor/spotipy
urllib3==1.24.1
vine==1.1.4
gunicorn==19.9.0
sentry-sdk==0.10.2
django-heroku==0.3.1
